*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Outfit', sans-serif;
    padding: 30px 10px;
}
.App{
    display: flex;
}
@media (min-width:1024px) {
body {
    padding-top: 2em; 
    padding-right: 3em;
    padding-left: 11em;
}
}